$btn_color:#76c578;
$icon_color:#079d;
$elements_color: linear-gradient(180deg, #76c578 0%, #079d 100%);
$font_color:#3a3a39;
$subfont_color:#89929b;
$box_shadow:0px 8px 120px rgba(0, 0, 0, 0.1);
$hover_item:  #079d;
$background_color:#ffffff;
$dopback_color:#eff5f896;
